.navbar{
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10vh;
    min-height: 10vh;
}
#logo{
    margin-top: 5px;
    color: red;
}
.search-bar{
    width: 30%;
    margin: 5px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 1px solid #848484;
    display: flex;
}
#search-input{
    padding: 10px;
    background-color: #1f1f1f;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    width: 90%;
}
#search-btn{
    color: red;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 10px;
    outline: none;
}

@media (max-width:800px) {
    .search-bar{
        width: 60%;
    }
    #search-btn{
        font-size: .7rem;
    }
    #search-input{
        padding: 8px;
        font-size: .8rem;
        background-color: #1f1f1f;
    }
    #logo{
       width: 60px;
       height: 40px;
    }   
}
@media (max-width:400px) {
    .search-bar{
        width: 70%;
    }
    #logo{
        width: 40px;
        height: 20px;
    }
    .search-bar{
        margin:0;
    }
    .navbar{
        position: static;
    }
}