.video{
    max-width: 100%;
    margin: 0 3vw;
    display: flex;
    justify-content: space-between;
    color: white;
}
.video-box{
    width: 100%;
    height:70vh;
}

.video-player{
    margin: 20px;
    margin-right: 20px;
    width: 70%;
}

.related-videos{
    width: 25%;
    margin-top: 10px;
}

.video-details{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content:space-between;
}
.vid-title{
    padding: 10px;
    background-color: #313131;
    margin-right: 10px;
    border-radius: 30px;
}

.vid-likes{
    display: flex;
    justify-content: space-between;
}

#title{
    margin-top: 15px;
    margin-bottom: 8px;
}

.user-profile{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.user-img{
    border-radius: 50%;
    margin-right: 10px;
}

.cmt-text{
    margin-left: 35px;
}

.hr::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #918787;
    display: block;
}

.hr::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #918787;
    display: block;
}

.comments{
    padding: 10px;
    background-color: #212121;
}
.comments a{
    display: none;
}

#view-count{
    font-size: .8rem;
    color: #313131;
}

.load-more{
    width: 100%;
    margin: 20px 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: left;
    color: #918787;
    cursor: pointer;
}

@media (max-width:800px){
    .video{
        max-width: 100%;
        margin:0;
        flex-direction: column;
    }
    .video-box{
        width: 100%;
        height:50vh;
    }
    .video-player{
        width: 100%;
        margin: 0;
    }
    .related-videos{
        width: 100%;
    }

    /* .navbar{
        display: none;
    } */

    .video-details{
        flex-wrap: wrap;
    }
    .vid-likes{
        width: 100%;
        margin-top: 20px;
    }
    
}

@media (max-width:400px){
    .vid-title{
       font-size: .8rem;
    }
 
   
}


